body{
    font-family: Open Sans, Helvetica Neue, sans-serif;
}

.section1{
    display: flex;
    background-color: rgb(229, 232, 238);

    

}
.section1 a{
    text-decoration: none;
    color: rgb(55, 55, 55);
    
}
.mnvihecles{
    margin-right:500px ;
    margin-left: 30px;
    margin-top: 20px;
}
.vihecles{
    margin-right: 70px;
}
.build{
    margin-right: 70px;
}
.dealers{
    margin-right: 70px;
}
.search{
    border-radius: 25px;
    padding: 8px;
    border-color: rgb(107, 147, 200);
    margin-left: 30px;
    margin-top: 18px;
    border-style: inherit;
}
.user{
    margin-left: 50px;
    margin-top: 20px;

}
.section2{
    background-color: rgb(54, 54, 54);
    color: white;
    padding-top: 280px;
    padding-bottom: 20px;
    padding-left: 30px;
    background-image: url(../Assets/im1.jpg);
    background-size: auto;
    background-position: 0%;
    background-repeat: repeat;
    height: 150px;
   
    border-radius: 30px;
    
}
.section2 a{
    text-decoration: none;
    color: white;
    border: 10px;
    background-color: rgb(247, 39, 39);
    padding: 10px;
    border-radius: 5px;
   
}

.section3{
    background-color: rgb(47, 47, 47);
    margin-top: 30px;
    padding-top: 280px;
    padding-left: 30px;
    color: white;
    background-image:url(../Assets/im2.jpg); 
    background-position: 0%;
    padding-bottom: 20px;

}
.section3 a{
    text-decoration: none;
    color: white;
    border: 10px;
    background-color: rgb(247, 39, 39);
    padding: 10px;
    border-radius: 5px;
   
}
.section3p{
    font-size: small;
}