body{
    font-family: Open Sans, Helvetica Neue, sans-serif;
}

.section1{
    display: flex;
   

    

}
.section1 a{
    text-decoration: none;
    color: rgb(19, 18, 18);
    transition: color 0.1s ease, transform 0.2s ease;
    
}
.mnvihecles{
    margin-right:500px ;
    margin-left: 30px;
    margin-top: 20px;
}
.vihecles{
    margin-right: 70px;
   
}
.build{
    margin-right: 70px;
}
.dealers{
    margin-right: 70px;
}
.search{
   
    padding: 8px;
    background-color: #e1e4e4;
    margin-left: 30px;
    margin-top: 18px;
    border-style: inherit;
}
.user{
    margin-left: 50px;
    margin-top: 20px;

}


.section1 a:hover {
    color: #82cfdc;
}
.section1 a:hover::after{
    width: 100%;
}

.about{
    color: rgb(11, 11, 11);
    background-position: 0%;
    background-color: #82cfdc;
    align-items: center;
    border-radius: 40px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 400px;
    margin-right: 400px;

    
    
}
.about p{
    padding-bottom: 10px;
}
.section2{
    margin-top: 80px;
    background-image: url(../Assets/im4.jpg);
    background-position: 0%;
    padding-left: 200px ;
    
    border-radius: 20px;
    color:white;
    padding-bottom: 20px;
}
.section2 h4{
    padding-top: 100px;
}

.section2 a{
    background-color: red;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    
}

.section3{
    margin-top: 80px;
    background-image: url(../Assets/im4.jpg);
    background-position: 0%;
    padding-top: 100px;
    padding-left: 200px;
    border-radius: 20px;
    margin-left: 30px;
    color:white;
    padding-bottom: 0px;
    text-align:left;
}
.section3 h3{
    padding-right: 10px;
}

.section3 a{
    background-color: red;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    

}

.s3{
    display: flex;
    margin-left: 100px;
}

.section4{
    background-color: #82cfdc;
    background-image: url(../Assets/im5.jpg);
    background-repeat: no-repeat;
    margin-right: 60%;
    background-position: 0%;
    padding: 30px;
}

.last{
    border-top: rgb(148, 148, 148) solid 0.5px;
    
}