
html{
    scroll-behavior: smooth;
}


body{
    font-family: sans-serif, Open Sans, Helvetica Neue, sans-serif;
}

.section1{
    display: flex;
    position: fixed;
    background-color: white;
    top: 0;
    
    

  


} 
.section1 a{
    text-decoration: none;
    color: #333;
      
}

.section1 a:hover {
    color: #04cbee;
    text-decoration: none;
   

}


.menu{
    margin-right:200px ;
    margin-left: 30px;
    margin-top: 20px; 

}
.vihecles{
    margin-right: 30px;
  
}

.build{
    margin-right: 30px;
}

.dealers{
    margin-right: 30px;

}


.search{
   
    padding: 10px;
    background-color: #e1e4e4;
    margin-top: 10px;
    border-style: inherit;
    border-radius: 18px;
    padding-right: 300px;
    margin-right: 100px;
    
}



.user{

    padding-right: 65px;
    margin-left: 20px;
    margin-top: 20px;  

}


.page1{
    background-image: url(../Assets/Image6.jpg);
    background-position: center;
   
    display: flex;
    padding-bottom: 120px;
}
.page2{

    background: linear-gradient(rgba(255,255,255, 0.7));
    
    margin-right: 300px;
    
    color: black;
    padding-left: 20px;
    margin-left: 80px;
    margin-top: 60px;
    padding-bottom: 40px;
    font-size: x-large;
    padding-right: 80px;
    font-weight: lighter;

}

.page2 h4{
    font-weight: bolder;
}

.page2 a{
    background-color: #f30202;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
}

.page2 a:hover{
    background-color: white;
    color: black;
}
.about{
    margin-top: 60px;
    color: rgb(0, 0, 0);
    font-size: larger;
    margin-right: 20px;
    background: linear-gradient(rgba(255, 255, 255, 0.7));
    padding-left: 20px;
    padding-right: 20px;
    transition: all;
}

.about a{
    text-decoration: none;
    color: black;
    border: black solid 0.1px;
    padding: 10px;
    opacity: 0;
    padding-right: 40px;
    transition: opacity 0.5s ease;
    
}

.about a{
    opacity: 1;
}

.about a:hover{
    background-color: black;
    color: white;
}
 
    
.sec{
    display: flex;
    margin-top: 40px;
    border-radius: 30px;

}  


.section2{
    background-color: #e1e4e4;
    margin-right: 30px;
    
    padding-right: 300px;
    padding-top: 250px;
    background-image: url(../Assets/im4.jpg);
    background-position: center;
    color: white;
    padding-bottom: 20px;
    padding-left: 20px;
    
  

}

.section2 p{
    background: linear-gradient(rgba(203, 191, 191, 0.7));
    padding: 10px;
}

.section2 a{
    text-decoration: none;
    background-color: rgb(255, 1, 1);
    padding: 10px;
    padding-right: 30px;
    
    color: white;
    transition: all 0.3s ease;
}



.section2 a:hover{
    background-color:white;
    color: black;
    font-weight: bolder;
    


}

.section3{
    background-color: #82cfdc;
    padding-right: 300px;
    background-image: url(../Assets/im5.jpg);
    background-position: center;
    color: white;
    padding-top: 270px;
    padding-left: 10px;
    padding-bottom: 10px;
    
    
}


.section3 a{
    text-decoration: none;
    background-color: rgb(244, 5, 5);
    padding: 10px;
    padding-right: 30px;

    color: white;
    
}

.section3 a:hover{
    background-color:white;
    color: black;
    font-weight: bolder;


}

.sec1{
    display: flex;
    justify-content: center;
    
    
}

.im{
    background-image: url(../Assets/im4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 00px;
    padding-bottom: 300px;
   
    
}

.sec1 p{
    margin-bottom: 30px;
}

.sec1 a{
    text-decoration: none;
    color: black;
    border: black solid 0.1px;
    padding: 10px;
    margin-top: 10px;
    padding-right: 30px;
}

.sec1 a:hover{
    background-color: black;
    color: white;
}

.sec11{
    margin-right: 200px;
    
    
    padding-left:30px;
    padding-top: 80px;
    padding-bottom: 10px;
    
}

.sec11 h6{
    color: #767676;
}
.sec12 h6{
    color: #767676;
}

.im2{
    background-image: url(../Assets/im10.jpg);
    padding-bottom: 300px;
    background-position: center;
    margin-top: 80px;
    
}


.section4{
    background-color: #82cfdc;
    background-image: url(../Assets/im5.jpg);
    background-repeat: no-repeat;
    margin-right: 60%;
    background-position: 0%;
    padding: 30px;
    margin-top: 30px;
}

.last{
    
    margin-top: 30px;
    padding: 3px;
    margin: 10px;
    display: flex;
    color: white;
    padding-top: 200px;
    margin-left: 500px;
    
}

.last a{
    padding: 3px;
    margin-top: 18px;
    transition: color 0.1s ease, transform 0.2s ease;
    text-decoration: none;
    margin-left: 10px;
    

}

.last a:hover {
   color: #82cfdc;
   text-decoration: underline;
}

.y{
    color: white;
}

.wh{
    color: white;;
}
.ins{
    color: white;
}

.tw{
    color: white;
}
.fa{
    color: white;
}

.last a:hover::after{
    width: 10%;
}

.las{
    margin-top: 20px;
    display: flex;
    padding-left: 20px;
    color: white;
    font-weight: bolder;
    padding-bottom: 30px;
    
    
}

.las1{
    margin-right: 50px;
    text-decoration: none;
}
.las a{
    text-decoration: none;
    color: white;
    font-size: small;

}
.las h3{
  font-weight: bolder;
}


.las2{
    margin-right: 0px;
}

.las2 h3{
    font-weight: bolder;
}
.las3{
    margin-left: 30px;
}

.las a:hover{
    color: #bd0404;
    text-decoration: underline;
    
}
.l{
    background-color: black;
    color: white;
}

.l1{

    margin-top: 30px;
    padding-top: 10px;
    justify-items: center;
    border-bottom: rgb(29, 28, 28) solid 0.1px;
    padding-bottom: 20px;
  
    
}

.l1 a{
    text-decoration:white;
    color: rgb(235, 6, 6);
    
}


.l1 a:hover{
    color: #ec0707;
    text-decoration: underline;
}
.l1 p{
    font-size: small;
    
}




