body{
    font-family: Open Sans, Helvetica Neue, sans-serif;

  
    
}


.section1{
    display: flex;
    border-bottom: rgb(224, 219, 219) solid 0.1px;
    position: sticky;
    background-color: white;

    

    

}
.section1 a{
    text-decoration: none;
    color: rgb(19, 18, 18);
    transition: color 0.1s ease, transform 0.2s ease;



    
}


.mnvihecles{
    margin-right:300px ;
    margin-left: 30px;
    margin-top: 20px;
}
.vihecles{
    margin-right: 70px;
   
}
.build{
    margin-right: 70px;
}
.dealers{
    margin-right: 70px;
}
.search{
   
    padding: 10px;
    background-color: #e1e4e4;
    margin-left: 20px;
    margin-top: 10px;
    border-style: inherit;
    border-radius: 18px;
    padding-right: 200px;
    margin-right: 100px;
    
}
.user{
    margin-left: 30px;
    margin-top: 20px;

}


.section1 a:hover {
    color: #82cfdc;
}
.section1 a:hover::after{
    width: 100%;
}

.about{
    color: rgb(11, 11, 11);
    background-position: 0%;
    background-color: #82cfdc;
    align-items: center;
    border-radius: 40px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 400px;
    margin-right: 400px;
    background-attachment: scroll;

    
    
}

.page1{
    background-image: url(../Assets/Image6.jpg);
}
.sec{
    display: flex;
    margin-top: 40px;
    border-radius: 30px;
    margin-right: 30px;
}  
.about p{
    padding-bottom: 10px;
}

.section2{
    background-color: #e1e4e4;
    margin-right: 30px;
    margin-left: 20px;
    padding-right: 450px;
    padding-top: 290px;
    background-image: url(../Assets/im4.jpg);
    background-position: center;
    color: white;
    padding-bottom: 20px;
    padding-left: 10px;
    border-radius: 30px;

}

.section3{
    background-color: #82cfdc;
    padding-right: 450px;
    background-image: url(../Assets/im5.jpg);
    background-position: center;
    color: white;
    padding-top: 290px;
    padding-left: 10px;
    padding-bottom: 20px;
    
    border-radius: 30px;
}

.section3 a{
    text-decoration: none;
    background-color: white;
    padding: 10px;
    border-radius: 18px;
    color: black;
}
.section2 a{
    text-decoration: none;
    background-color: white;
    padding: 10px;
    border-radius: 18px;
    color: black;
}





.section4{
    background-color: #82cfdc;
    background-image: url(../Assets/im5.jpg);
    background-repeat: no-repeat;
    margin-right: 60%;
    background-position: 0%;
    padding: 30px;
    margin-top: 30px;
}

.last{
    border-top: rgb(148, 148, 148) solid 0.5px;
    margin-top: 30px;
    padding: 3px;
    margin: 10px;

}

.last a{
    padding: 3px;
    color: rgb(50, 50, 50);
    margin-top: 18px;
    transition: color 0.1s ease, transform 0.2s ease;
    text-decoration: none;
    

}

.last a:hover {
    color: #82cfdc;
}
.last a:hover::after{
    width: 100%;
}