
html{
    scroll-behavior: smooth;
}


body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    transition: background 0.3s ease, color 0.3 ease;
    
    background-size: cover;
}

.section1{
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    padding-bottom:10 px;
    
    
} 
.section1 a{
    text-decoration: none;
    color: #333;
      
}



.section1 a:hover {
    background: #0587ea;
    padding: 7px;
    color:white;
    text-decoration: none;
   

}
.hidden{
    display: none;

}

.hide{
    display: none;
}


.menu{
    margin-right:50px ;
    margin-left: 20px;
    margin-top: 19px; 
    position: relative;
    display: inline-block;

}

.menu:hover{
    color: red;

}

#menuContent{
    background: rgb(255, 255, 255);
    padding: 10px;
    width: 170px;
    border: rgb(243, 243, 243) ;
    position: absolute;
    border-radius: 20px;

}

#menubtn{
    font-size: x-large;
    border: white;
    font-weight: bolder;
    background: none;
    
}

#menubtn:hover{
    
    border:#ffffff solid 0.1px ;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 20px;
    background: #0587ea;
    transition: 0.1s ease;
    color: white;
    font-weight: bolder;
}

.home{
    margin-right: 40px;
    top: 0;
}

#homeBtn{
    border: none;
    font-size: larger;
    background: none;
    color: #0587ea;
    font-weight: bolder;

}

#homeBtn:hover{
   text-decoration: none;
}

.search{
   
    padding: 10px;
    background-color: #e1e4e4;
    margin-top: 14px;
    border-style: inherit;
    border-radius: 18px;
    padding-right: 200px;
    margin-right: 50px;
    
}

.vihecles{
    margin-top: 16px;
    margin-right: 30px;
    
    position: relative;
    display: inline-block;
 
  
}

#vihecleContent{

    background: rgb(255, 255, 255);
    padding: 10px;
    width: 150px;
    border: rgb(243, 243, 243) ;
    position: absolute;
    border-radius: 20px;
    
    
}



#vihecleBtn{
    font-size: large;
    font-weight: bolder;
    border-color: white;
    border: none;
    margin-bottom: 10px;
    background: none;
    color: #453e3e;
}
#vihecleBtn:hover{
    
    border:#ffffff solid 0.1px ;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 20px;
    transition: 0.1s ease;
    color: white;
    font-weight: bolder;
    background: #0587ea;
}



#darkToggle{
    border: none;
    background: white;
    
}

#darkToggle:hover{
    color: red;
    text-decoration: underline;
}



.build{
    margin-right: 30px;
    position: relative;
    display: inline-block;
}

#buildBtn{
    
    font-size: large;
    border: none;
    background: none;
    font-weight: bolder;
    margin-bottom: 10px;
    color: #453e3e;
    margin-top: 16px;
    
    
    
}

#buildContent{

    background: rgb(255, 255, 255);
    padding: 10px;
    width: 160px;
    border: rgb(243, 243, 243) ;
    position: absolute;
    border-radius: 20px;
    
    
}


.hideBuild{
    display: none;
}

#buildBtn:hover{
    
    border:#ffffff solid 0.1px ;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 20px;
    font-weight: bolder;
    background: #0587ea;
    transition: 0.1s ease;
    color: white;
    
}

#dealersContent{
    background: rgb(255, 255, 255);
    padding: 10px;
    width: 150px;
    border: rgb(243, 243, 243) ;
    position: absolute;
    border-radius: 20px;

    
}

#dealersBtn{
    font-size: large;
    border: none;
    margin-right: 20px;
    margin-bottom: 10px;
    background: none;
    font-weight: bolder;
    color: #453e3e;
    margin-top: 16px;


}
#dealersBtn:hover{
    border:#ffffff solid 0.1px ;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 20px;
    font-weight: bolder;
    background: #0587ea;
    transition: 0.1s ease;
    color: white;

}

.hideDealers{
    display: none;
}

#moreContent{
    background: rgb(255, 255, 255);
    padding: 10px;
    width: 180px;
    order: rgb(243, 243, 243) ;
    position: absolute;
    border-radius: 20px;
    
    
}

#moreBtn{
    font-size: large;
    font-weight: bolder;
    border-color: white;
    border: none;
    margin-bottom: 10px;
    color: #453e3e;
    margin-top: 8px;
    background: none;
  
}

#moreBtn:hover{
    
    border:#ffffff solid 0.1px ;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 20px;
    font-weight: bolder;
    background: #0587ea;
    transition: 0.1s ease;
    color: white;
    
}

.hideMore{
    display: none;
}

.more{
    margin-top: 10px;
    margin-right: 30px;
  
}

.dark{
    background-color: #121212;
    color: white;
}

#menContent{
    
    padding: 10px;
    width: 100px;
    margin-top: 5px;
    border-radius: 5px;
    position: absolute;
}
.hid{
    display: none;
}

#userBtn{
    border: none;
    margin-top: 20px;
    margin-left: 30px;
    background: none;
    

}

#userBtn:hover{
    border:#ffffff solid 0.1px ;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 20px;
    font-weight: bolder;
    background: #0587ea;
    transition: 0.1s ease;
    color: white;

}

.hideUser{
    display: none;


}

#userContent{
    padding: 10px;
    width: 100px;
    margin-top: 5px;
    border-radius: 10px;
    position: absolute;
    background:white ;
    color: #7f7c7c;


}

.threeDots{
    margin-right: 10px;
    
}



#dotsBtn{
    border: none;
    font-size: xx-large;
    margin-top: 1px;
    margin-left: 50px;
    background: none;
    color: #453e3e;
    margin-top: 10px;
    

}
#dotsContent{
    
    padding: 10px;
    width: 170px;
    position: absolute;
    border-radius: 20px;
    border: #d5d1d1 solid 0.1px;
    background: white;
}
.hideDots{
    display: none;
}


#dotsBtn:hover{
    
    border:#ffffff solid 0.1px ;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 90px;
    font-weight: bolder;
    background: #0587ea;
    transition: 0.1s ease;
    color: white;
    
}

.emailSpace{
    border: none;
    background: #d7d9da;
    padding: 5px;
    border-radius: 10px;
}
.submit{
    padding: 7px;
    border: none;
    border-radius: 20px;
    background: rgb(242, 3, 3);
    margin-top: 10px;
    color: white;
    font-weight: bold;

}

.submit:hover{
    color: w;
    
    border: #8b8989 solid 0.1px;
    background: #0587ea;
    color: white;
}

#cart{
    margin: 20px;
}

.shoppingCart{
    border: none;
    background: none;
    font-size: larger;
}

.shoppingCart:hover{
    color: #0587ea;
}

.introduction{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
   

}

.introductoryImage img{
    height: 1;
    height: 320px;
    border-radius: 170px;

}

.infinityDescription h1{
    color: #1788de;
    padding-left: 160px;

    
}
.infinityDescription{
    border: rgb(20, 94, 232) solid 0.1px;
    margin-bottom: 4px;
    padding-left: 10px;
    border-radius: 170px;
    padding-top: 40px;
    
    
}

.infinityDescription a{
    color: #0587ea;
}
.infinityDescription p{
    padding-right: 40px;
    padding-left: 30px;
    font-family: system-ui;
    color: #1d1c1c;

    
}


#aboutInfinty{
    margin-top: 30px;
    margin-left: 170px;
    padding: 13px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 20px;
    border: none;
    background: #0587ea;
    font-weight: bolder;
    color: white;

}

#aboutInfinty:hover{
    background: #ffffff;
    color:#0587ea;
    font-weight: bolder;
    border: #0587ea solid 0.1px;
    transition:  transiform 1s ease;
    
}

.ev-dark{
    display: flex;
    padding-bottom: 30px;
    justify-content: center;
    border-bottom: #a3a0a0 solid 0.1px;
    clip-rule: evenodd;  
    
}

.image img{
    width: 500px;
    height: 500px;

    
}
.image2 img{
    width: 500px;
    height: 500px;

    
}

.ev-dark p{
    margin-bottom: 30px;
}

.ev-dark a{
    text-decoration: none;
    color: white;
    background-color:#0587ea;
    
    padding: 10px;
    margin-top: 10px;
    padding-right: 30px;
}

.ev-dark a:hover{
    background-color:#0587ea;
    color: white;
    border: none;
    text-decoration: underline;
}

.evCar{  
    padding-top: 80px;
    margin-right: 40px;
    padding-bottom: 10px;
    
}


.evCar h6{
    color: #767676;
}
.darkCar h6{
    color: #767676;
}
.darkCar{

    padding-top: 80px;
    padding-bottom: 10px;
    
}


.section4{
    background-color: #82cfdc;
    background-image: url(../Assets/im5.jpg);
    background-repeat: no-repeat;
    margin-right: 60%;
    background-position: 0%;
    padding: 30px;
    margin-top: 30px;
}




.slide img{
    height: 150px;
    margin-top: 30px;
    width: 150px;
    border-radius:30px;
    
    

}


.slider{
    margin-top: 20px;
    display: flex;
    transition: transform 0.5s ease;
    margin-left: 20px;
    padding-bottom: 30px;
    user-select: none;
    gap: 30px;
    
    
}



.slide{
  min-width:200px;
  height:200px;
  align-items:center;
  justify-content:center;
  margin-right:20px;
  
  
}

.shopCar{
    padding-left: 10px;
    
    
}




.shopCar p{
    font-size: small;
}

.shopCar:hover{
    background: #ebeaea;
    padding-left: 40px;
    transition: transform 0s ease;
}
.price{
  
    color: #7f7c7c;
    font-weight: bold;
}

.priceDetails{
    text-decoration: none;
    font-weight: bold;
    color: #0587ea;
    
    padding: 3px;
    border-radius: 6px;
}

.priceDetails:hover{
    text-decoration: underline;
}
.discover{
    
    margin-right: 100px;
    background: #4b9ddc;
    color: white;
    font-weight: bold;
    padding: 10px;
    
}

.shopDetails a{
    text-decoration: none;
}

.rent{
    
    margin-right: 100px;
    background: #4b9ddc;
    color: white;
    font-weight: bold;
    padding: 10px;
}
.buy{
    
    margin-right: 100px;
    background: #4b9ddc;
    color: white;
    font-weight: bold;
    padding: 10px;
}
.discover:hover{
    color:white;
    background: black;
   
    text-decoration: underline;
}
.rent:hover{
    color:white;
    background: black;
   
    text-decoration: underline;
}
.buy:hover{
    color:white;
    background: black;
   
    text-decoration: underline;
}




.lastSectionDiv1 a{
    text-decoration:white;
    color: #0587ea;
    
    text-decoration: underline 2px;
    
    
}

.lastSectionDiv1 p{
    font-weight: lighter;
    font-size: small;
    word-spacing: 1px;
    color: #a3a0a0;
}


.lastSectionDiv1 a:hover{
    color: #fcfcfc;
    text-decoration: underline;
    
}



.lastSectionDiv2{
    margin-top: 20px;
    display: flex;
    padding-left: 20px;
    color: rgb(210, 208, 208);
    
    padding-bottom: 30px;
    border-bottom: rgb(31, 31, 31) solid 0.1px;
    
    
}

.lastSectionDiv2-1{
    margin-right: 50px;
    text-decoration: none;
}
.lastSectionDiv2 a{
    text-decoration: none;
    color: white;
    font-size: small;
    color: rgb(179, 176, 176);

}
.lastSectionDiv2 h3{
  font-weight: bolder;
}


.lastSectionDiv2-2{
    margin-right: 0px;
}

.lastSectionDiv2 h3{
    font-weight: bolder;
}
.lastSectionDiv2-3{
    margin-left: 30px;
}

.lastSectionDiv2 a:hover{
    color:#0587ea;
    text-decoration: underline;
    
}
.lastSection{
    background-color: rgb(0, 0, 0);
    color: white;
    right: 0;
    margin-right: 0%;
}

.lastSectionDiv1{

    margin-top: 30px;
    padding-top: 10px;
    justify-items: center;
    border-bottom: rgb(29, 28, 28) solid 0.1px;
    padding-bottom: 20px;
    
    
  
    
}

.last{

    display: flex;
    justify-content: center;
    left: 0;
    right: 0;

    
}
.last p{
    margin-top: 20px;
    color: #e8ebeb;
}

.last a{
    padding: 3px;
    margin-top: 18px;
    transition: color 0.1s ease, transform 0.2s ease;
    text-decoration: none;
    margin-left: 10px;
    color: #f1f1f1;

}

.last a:hover {
   color: #0587ea;
   text-decoration: underline;
}



.last a:hover::after{
    width: 10%;
}

.lastSub{
   text-align: center;
}





