body{
    font-family: sans-serif, Open Sans, Helvetica Neue, sans-serif;

  
    
}


.section1{
    display: flex;

} 
.section1 a{
    text-decoration: none;
    color: #333;
   

    
}


.mnvihecles{
    margin-right:300px ;
    margin-left: 30px;
    margin-top: 20px;
    color: #333;

}
.vihecles{
    margin-right: 30px;
    color: #333;

   
}

.vihecles:hover{
    background-color: #eaeaea;
    padding-left: 10px;
    padding-right: 10px;

}
.build{
    margin-right: 30px;
    color: #333;

}

.build:hover{
    background-color: #eaeaea;
    padding-left: 10px;
    padding-right: 10px;
}
.dealers{
    margin-right: 30px;
    color: #333;


}

.dealers:hover{
    background-color: #eaeaea;
    padding-left: 10px;
    padding-right: 10px;
}
.search{
   
    padding: 10px;
    background-color: #e1e4e4;
    margin-top: 10px;
    border-style: inherit;
    border-radius: 18px;
    padding-right: 200px;
    margin-right: 100px;
    
}

.more:hover{
    background-color: #eaeaea;
    padding-left: 10px;
    padding-right: 10px;

}

.user{
    margin-left: 50px;
    margin-top: 20px;
    

}


.section1 a:hover {
    color: #04cbee;
    text-decoration: none;

}


.page1{
    background-image: url(../Assets/Image6.jpg);
    background-position: center;
   
    display: flex;
    padding-bottom: 120px;
}
.page2{

    background: linear-gradient(rgba(255,255,255, 0.7));
    
    margin-right: 400px;
    
    color: black;
    padding-left: 20px;
    margin-left: 80px;
    margin-top: 60px;
    padding-bottom: 40px;
    font-size: x-large;
    padding-right: 80px;
    font-weight: lighter;

}

.page2 h4{
    font-weight: bolder;
}

.page2 a{
    background-color: #f30202;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
}
.page3{
    margin-top: 60px;
    color: rgb(0, 0, 0);
    font-size: larger;
    background: linear-gradient(rgba(255, 255, 255, 0.7));
    padding-left: 20px;
    padding-right: 20px;
    transition: all;
}

.page3 a{
    color: #1c53df;
  

}
 
    
.sec{
    display: flex;
    margin-top: 40px;
    border-radius: 30px;
    margin-right: 30px;
}  


.section2{
    background-color: #e1e4e4;
    margin-right: 30px;
    margin-left: 20px;
    padding-right: 450px;
    padding-top: 250px;
    background-image: url(../Assets/im4.jpg);
    background-position: center;
    color: white;
    padding-bottom: 0px;
    padding-left: 20px;
  

}

.section2 a{
    text-decoration: none;
    background-color: rgb(245, 8, 8);
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.section3{
    background-color: #82cfdc;
    padding-right: 440px;
    background-image: url(../Assets/im5.jpg);
    background-position: center;
    color: white;
    padding-top: 270px;
    padding-left: 10px;
    padding-bottom: 40px;
    
    
}


.section3 a{
    text-decoration: none;
    background-color: rgb(244, 5, 5);
    padding: 10px;
    border-radius: 10px;
    color: white;
    
}






.section4{
    background-color: #82cfdc;
    background-image: url(../Assets/im5.jpg);
    background-repeat: no-repeat;
    margin-right: 60%;
    background-position: 0%;
    padding: 30px;
    margin-top: 30px;
}

.last{
    
    margin-top: 30px;
    padding: 3px;
    margin: 10px;
    display: flex;
    color: white;
    padding-top: 200px;
    margin-left: 600px;
    
}

.last a{
    padding: 3px;
    margin-top: 18px;
    transition: color 0.1s ease, transform 0.2s ease;
    text-decoration: none;
    margin-left: 10px;
    

}

.last a:hover {
   color: #82cfdc;
}

.y{
    color: white;
}

.wh{
    color: white;;
}
.ins{
    color: white;
}

.tw{
    color: white;
}
.fa{
    color: white;
}

.last a:hover::after{
    width: 10%;
}

.las{
    margin-top: 20px;
    display: flex;
    padding-left: 30px;
    color: white;
    font-weight: bolder;
    padding-bottom: 30px;
    
    
}

.las1{
    margin-right: 30px;
    text-decoration: none;
}
.las a{
    text-decoration: none;
    color: white;
    font-size: small;
}
.las h3{
  font-weight: bolder;
}


.las2{
    margin-right: 30px;
}

.las2 h3{
    font-weight: bolder;
}
.las3{
    margin-right: 30px;
}

.las a:hover{
    color: #04a1bd;
    
}
.l{
    background-color: black;
    color: white;
}





