body{
    font-family: Open Sans, Helvetica Neue, sans-serif;
}

.section1{
    display: flex;
   

    

}
.section1 a{
    text-decoration: none;
    color: rgb(19, 18, 18);
    transition: color 0.1s ease, transform 0.2s ease;
    
}
.mnvihecles{
    margin-right:500px ;
    margin-left: 30px;
    margin-top: 20px;
}
.vihecles{
    margin-right: 70px;
   
}
.build{
    margin-right: 70px;
}
.dealers{
    margin-right: 70px;
}
.search{
   
    padding: 8px;
    background-color: #e1e4e4;
    margin-left: 30px;
    margin-top: 18px;
    border-style: inherit;
}
.user{
    margin-left: 50px;
    margin-top: 20px;

}


.section1 a:hover {
    color: #82cfdc;
}
.section1 a:hover::after{
    width: 100%;
}

.about{
    background-image: url(../Assets/im2.jpg);
    color: white;
    background-position: 0%;
    background-repeat: no-repeat;
    padding-top: 400px;
    padding-bottom: 30px;
}